<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
  </head>
  <body>
    {{>navbar}}
    <div class="container-fluid main_menu">
      <div class="col-md-10 col-12 mx-auto">
          <h1>{{error_message}}</h1>
        </div>
    </div>
    {{>footscript}}
  </body>
  {{>footer}}
</html>